/*
	Author:Md. Shariful Islam
	Date:
	Title:
====================================
*/
body{
	background:#55621a url(../images/bg02.png) repeat-x;
	font-family:"Trebuchet MS",Georgia,Verdana, Lucida, Arial,Helvetica, sans-serif;
	font-size:13px;
	color:#000;
	text-align:center;	
	word-wrap:break-word;
}
*{
	padding:0;	margin:0;
}

ul,li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#000;
}
:focus{ outline:none;}
/*--------------------------Page Structure----------------*/
#wrap{
	margin:0 auto;
	width:980px;
	text-align:left;
}
/*---------------------------Header---------------------*/
#hdr{
	/*background: url(../images/banner_01.png) no-repeat;*/
        background-color: #FFF;
	width:980px;
	height:150px;
}
#hdr h1{
	padding:0;
}
#hdr h1 a{
	display:block;
	width:145px;
	height:145px;
}
#hdr h1 b{
	display:none;
	visibility:hidden;
}
/*#hdr span{
	display:block;
	float:right;
	padding:8px 8px 0 0;
}
#hdr span a{
	display:block;
	padding:2px;
}
#hdr span a:hover{
	color:#FFF;
}*/
/*-------------------------Nav------------------- */
.nav{
	background:#1f1f1f;
	height:40px;
	padding:0 10px;
}
.nav ul{
	width:auto;
	overflow:hidden;
	padding:8px 0 0 0;
}
.nav ul li{
	float:left;
	margin:0 5px 0 0;
}
.nav ul li a,.nav ul li span{
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#999;
	line-height:24px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding:0 10px;
}
.nav ul li a:hover,.nav ul li span{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#a6c954;
}
/*-------------------------Main Body------------------- */
#main{
	background:#fff;
	width:960px;
	padding:20px 10px 10px 10px;
}
#main h2{
	font-size:21px;
	padding:0 0 10px 10px;
	margin:0;
}
.img_gallery{
	width:910px;
	padding:0 0 10px 50px;
}
.img_gallery ul{
	width:100%;
	overflow:hidden;
}
.img_gallery ul li{
	float:left;
	margin:0 10px 0;
}
.player_list{
	width:auto;
	overflow:hidden;
	padding:0 0 5px 0;
}
.player_list dl{
	background:#abc75f;
	float:left;
	width:310px;
	height:125px;
	overflow:hidden;
	padding:5px 0 0 5px;
	margin:0 5px 0 0;
}
.player_list dl dt{
	display:block;
	float:left;
        padding-right: 5px;
}
.player_list dl dd{
	width:auto;
	padding:0 10px 0 0;
}
.player_list dl dd h4{
	font-size:14px;
	margin:0 0 5px 0;
}
.player_list dl dd h4 a{
	color:#035BAC;
	font-weight:bold;
}
.player_list dl dd h4 a:hover{
	color:#000;
}
.txt01{
	display:block;
	margin:0 0 3px 0;
}
.news_bar{
	background:#e0dfdc;
	width:940px;
	overflow:hidden;
	line-height:24px;
	border:1px solid #a3a2a2;
	padding:0 10px;
	margin:0 0 10px 0;
}
.news_bar h3{
	float:left;
	width:80px;
	font-size:17px;
}
.news_bar marquee{
	float:left;
	width:835px;
	padding:5px 0 0 5px;
}
.news_bar marquee a{
	margin:0 10px 0 0;
}
.news_bar marquee a:hover{
	color:#035BAC;
}
.page-content{
	width:960px;
	overflow:hidden;
	padding:0 0 25px 0;
}
.content h3{
	background:#336699;
	line-height:24px;
	text-align:center;
	font-size:17px;
	color:#fff;
	margin:0 0 5px 0;
}
.content_lft{
	float:left;
	width:328px;
	height:362px;
	border:1px solid #a3a2a2;
	margin:0 10px 0 0;
}
.content_lft table{
	width:100%;
}
.content_lft table th,.content_lft table td{
	padding:3px;
	vertical-align:top;
}
.content_lft table td{
	font-size:12px;
}
.content_mdl{
	background:#CCC;
	float:left;
	width:310px;
	padding:0 0 0 0;
	margin:0 10px 0 0;
}
.img01{
	display:block;
	text-align:center;
	margin:0 0 10px 0;
}
.txt02{
	padding:0 5px 10px 5px;
}
.content_rht{
	float:left;
	width:298px;
	height:362px;
	border:1px solid #a3a2a2;
}
.content_rht table{
	width:100%;
}
.content_rht table th,.content_rht table td{
	padding:1px 5px;
	vertical-align:top;
}
.content_rht table td{
	font-size:12px;
}
.more_link{
	display:block;
	text-align:right;
	padding:0 10px 5px 0;
}
.more_link a{
	color:#C00;
}
.more_link a:hover{
	color:#000;
	text-decoration:underline;
}
.view_link a{
	color:#C00;
}
.view_link a:hover{
	color:#000;
	text-decoration:underline;
}
/*-------------------------- Footer----------------------- */
#ftr{
	background:#000;
	width:980px;
	text-align:center;
	color:#FFF;
	padding:20px 0 20px 0;
}
/*-------------------------- Sub Page----------------------- */
.pagination{
	list-style:none;
	width:928px;
	overflow:hidden;
	line-height:24px;
	border-bottom:1px solid #a3a2a2;
	padding:0 10px 0 10px;
	margin:0 0 20px 0;
}
.border01{
	border-top:1px solid #a3a2a2;
	border-bottom:5px solid #000;
	padding:5px 10px 5px 10px;
	margin:20px 0 20px 0;
}
.pagination li{
	list-style:none;
	float:left;
	color:#b7b7b7;
	padding:0;
	margin:0;
}
.show_page{
	width:20%;
	color:#a3a2a2;
}
.page_first{
	width:20%;
	text-align:right;
}
.page_center{
	width:40%;
	text-align:center;
}
.page_last{
	width:20%;
}
.pagination li a{
	text-decoration:none;
	color:#000;
	padding:0 2px 0 2px;
	margin:0 1px 0 1px;
}
.pagination li a:hover,
.pagination li a.active{
	color:#b7b7b7;
}
.player_info{
	width:950px;
	overflow:hidden;
	padding:0 0 20px 10px;
}
.player_info dt{
	display:block;
	float:left;
	width:200px;
}
.player_info dd{
	float:left;
	padding:0 10px 0 0;
}
.details{
	width:250px;
}
.player_inf dd h4{
	font-size:14px;
	padding:0 0 3px 0;
}
.player_info dd h4 a{
	color:#035BAC;
	font-weight:bold;
}
.player_info dd h4 a:hover{
	color:#000;
}
.h4_01{
	font-size:15px;
}
.recent_match{
	width:470px;
}
.recent_match table{
	width:100%;
}
.recent_match table b{
	display:block;
	font-weight:normal;
}
.recent_match table td,.recent_match table th{
	padding:5px;
	vertical-align:top;
}
.player_ave{
	width:950px;
	overflow:hidden;
	padding:0 0 20px 10px;
}
.player_ave h3{
	font-size:17px;
	padding:0 0 3px 0;
}
.batting_bowling{
	float:left;
	width:465px;
	padding:0 10px 0 0;
}
.batting_bowling table{
	width:100%;
}
.batting_bowling table td,.batting_bowling table th{
	padding:5px 2px;
}
.batting_bowling table th{
	font-weight:normal;
	background:#e0dfdc;
}
.most_runs{
	width:100%;
	margin:0 0 10px 0;
}
.most_runs td,.most_runs th{
	padding:5px 5px;
}
.most_runs td a:hover{
	text-decoration:underline;
}
.most_runs th{
	background:#A9C854;
	font-weight:bold;
	color:#444545;
}
.batting_scores{
	width:100%;
	/*text-align:right;*/
	margin:0 0 10px 0;
}
.batting_scores td,.batting_scores th{
	padding:4px 5px;
	vertical-align:top;
}
.batting_scores th{
	background:#C6E582;
}
.batting_scores th i{
	font-style:normal;
	font-weight:normal;
	font-size:12px;
}
.batting_scores td a,.did_not a{
	font-weight:bold;
	color:#035BAC;
}
.batting_scores td a:hover,.did_not a:hover{
	text-decoration:underline;
}
.did_not{
	padding:0 5px 10px 5px;
}
.bowling_scores{
	width:100%;
	margin:0 0 10px 0;
}
.bowling_scores td,.bowling_scores th{
	padding:4px 5px;
	vertical-align:top;
}
.bowling_scores th{
	background:#C6E582;
}
.bowling_scores td a{
	font-weight:bold;
	color:#035BAC;
}
.bowling_scores td a:hover{
	text-decoration:underline;
}
.bgclr_01{
	background:#e0dfdc;
}
.bgclr_02{
	background:#eaeae5;
}
.upcoming_info{
	width:958px;
	border:1px solid #a3a2a2;
}
.h3_01{
	background:#336699;
	line-height:24px;
	text-align:center;
	font-size:17px;
	color:#fff;
	margin:0 0 5px 0;
}
.upcoming_info table{
	width:100%;
}
.upcoming_info th,.upcoming_info td{
	padding:3px;
	vertical-align:top;
}
.upcoming_info td{
	font-size:12px;
}
.h3_02{
	background:#e0dfdc;
	font-size:14px;
	padding:4px 5px;
}

.match_details{
	width:960px;
	overflow:hidden;
        margin: 10px 0;
}
.p01{
	padding:0 0 10px 10px;
}
.p02{
	padding:0 10px 10px 10px;
}
.p02 a{
	color:#035BAC;
}
.p02 a:hover{
	text-decoration:underline;
}
.upcoming_info .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.upcoming_info .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.upcoming_info .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.upcoming_info .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }
.batting_scores tr:nth-child(odd),
.bowling_scores tr:nth-child(odd)
{background: #ECFFC3;}

.batting_scores tr:last-child
{background: #C6E582;}

.batting_scores tr:first-child
{background: #C6E582 !important;}

h3.match-title {font-size: 1.2em; margin: 0px 0 10px}
h3.match-title b {font-size: 1em; color: #3D5015}

.has-green-background {background: #C6E582 !important}
.h3_02.has-green-background {margin-top: 10px;}

.news{
	padding:0 0 0 10px;
}
.news h1{
	padding:0 20px 5px 0;
}
.news span{
	display:block;
	padding:0 20px 5px 0;
}
.news p{
	padding:0 20px 10px 0;
}
/*-------------------------- Player Registration ----------------------- */
.log_reg{	
    background:-moz-linear-gradient(
				center top , 
				#FFFFFF 0%, 
				#A9C854 100%) 
				repeat;;
    background:-webkit-gradient(
				linear, 
				left top,
				left bottom,  
				color-stop(0%, #ffffff), 
				color-stop(100%, #A9C854)) 
				repeat;			
/*	background:#A9C854;*/
	width:960px;
	overflow:hidden;
	padding:0 0 15px 0;
	margin:0 0 10px 0;
}
.player_reg{
	float:right;
	width:500px;
}
.inp_box01{
	width:100%;
	overflow:hidden;
	border:none;
	padding:10px 0 0 10px;
}
.inp_box01 label{
	display:block;
	float:left;
	width:100px;
/*	color:#498403;*/
	color:#555555;
	padding:3px 0 0 0;
}
.inp03{
	width:350px;
	height:20px;
	border:1px solid #009900;
	padding:1px 5px;
}
.inp04{
	width:362px;
	height:24px;
	border:1px solid #009900;
}
.inp05{
	float:left;
	height:24px;
	border:1px solid #009900;
	margin:0 10px 0 0;
}
.inp06{
	float:left;
	width:80px;
	height:22px;
	line-height:22px;
	cursor:pointer;
	border:1px solid #009900;
}
.txt03{
	display:block;
	font-size:11px;
	color:#898989;
	padding:0 0 0 110px;
}
.txt04{
	display:block;
	font-size:11px;
	color:#A30000;
	padding:0 0 0 110px;
}
.inp_box02{
	overflow:hidden;
	border:none;
	padding:10px 20px 0 10px;
}
.sign_btn02{
	display:block;
	float:right;
	margin:0 10px 0 0;
}
.sign_btn02 a{
	display:block;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:32px;
	line-height:32px;
	color:#2e3131;
	font-size:17px;
	text-align:center;
	font-weight:bold;
	padding:0 20px;
}
/*-------------------------- Login page----------------------- */
.login_inner{
/*	background:#A9C854;*/
	float:left;
	width:400px;
	padding:0 0 0 0;
}
.inp_field01{
	display:block;
	width:380px;
	padding:0 0 0 20px;
}
.inp_field01 label{
	display:block;
	font-size:19px;
	color:#555555;
	padding:0 0 5px 5px;
}
.inp_field01 label a{
	color:#777d7d;
	font-size:15px;
	margin:0 0 0 50px;
}
.inp01{
	display:block;
	background:#fff;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #009900;
	height:32px;
	line-height:32px;
	width:268px;
	font-size:19px;
	color:#000;
	padding:0 10px 0 10px;
	margin:0 0 10px 0;
}
.inp_field02{
	display:block;
	width:288px;
	overflow:hidden;
	padding:10px 0 50px 20px;
}
.check01{
	float:left;
	width:12px;
	height:12px;
	margin:13px 10px 0 0;
}
.inp_field02 label{
	display:block;
	float:left;
	color:#555555;
	font-size:15px;
	font-weight:bold;
	padding:8px 0 0 0;
}
.sign_btn{
	display:block;
	float:right;
}
.sign_btn a{
	display:block;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:100px;
	height:32px;
	line-height:32px;
	color:#2e3131;
	font-size:17px;
	text-align:center;
	font-weight:bold;
}
/*-------------------------- Team page----------------------- */
.player_box{
	width:958px;
	border:1px solid #009900;
	padding:5px 0 0 0;
	margin:0 0 10px 0;
}
.player_list02{
	width:958px;
	overflow:hidden;
	padding:0 0 5px 0;
}
.player_list02 dl{
	background:#ECFFC3;
	float:left;
	width:229px;
	height:50px;
	overflow:hidden;
	padding:5px 0 0 5px;
	margin:0 2px 0 3px;
}
.player_list02 dl dt{
	display:block;
	float:left;
	width:45px;
}
.player_list02 dl dd{
	float:left;
	width:181px;
	padding:0 0 0 0;
}
.player_list02 dl dd h4{
	font-size:14px;
	margin:0 0 5px 0;
}
.player_list02 dl dd h4 a{
	color:#035BAC;
	font-weight:bold;
}
.player_list02 dl dd h4 a:hover{
	color:#000;
}
.player_list02 dl dd span{
	display:block;
}
.team_box{
	width:958px;
	overflow:hidden;
	border:1px solid #009900;
	padding:5px 0 5px 0;
	margin:0 0 10px 0;
}
.team_01{
	background:#99B430;
	width:476px;
	float:left;
	padding:5px 0 0 0;
	margin:0 0 0 2px;
}
.team_01 h3{
	font-size:19px;
	padding:0 0 5px 5px;
}
.player_list03{
	width:476px;
	overflow:hidden;
	padding:0 0 5px 0;
}
.player_list03 dl{
	background:#ECFFC3;
	float:left;
	width:228px;
	height:50px;
	overflow:hidden;
	padding:5px 0 0 5px;
	margin:0 0 0 3px;
}
.player_list03 dl dt{
	display:block;
	background:#A6C954;
	float:left;
	width:25px;
	font-weight:bold;
	text-align:center;
	margin:3px 5px 0 0;
}
.player_list03 dl dd{
	float:left;
	width:196px;
}
.player_list03 dl dd h4{
	font-size:14px;
	margin:0 0 5px 0;
}
.player_list03 dl dd h4 a{
	color:#035BAC;
	font-weight:bold;
}
.player_list03 dl dd h4 a:hover{
	color:#000;
}
.player_list03 dl dd span{
	display:block;
}