div#page-wrapper{
    width:auto;
}
div.clear{
    clear:both
}

#navigation {
    height:40px;
    *margin-right: 0px;
}
#navigation ul{
    padding:8px 0 0;
}

.nav ul li {
    float:left !important;
    margin:0 0 0 10px !important;
}
.nav ul.links li{
    padding: 0px !important;
}
.nav{
    background:-moz-linear-gradient(center top , #C2DE4B 0%, #99B430 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C2DE4B), to(#99B430));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2DE4B', endColorstr='#000000');
    border-bottom:1px solid #9EAA60;
    height:39px;
    *background-color: #acc73c;
}
.nav ul li a, .nav ul li span{
    /* background:none repeat scroll 0 0 #BCE14C;
     color:#000; */
    background:none;
}
.content h3{
    background:none repeat scroll 0 0 #A9C854;
    color:#444545;
}

.bgclr_01 {
    background:none repeat scroll 0 0 #ECFFC3;
    border-bottom:1px solid #009900;
    border-top:1px solid #009900;

}
tr.odd{
    background:none repeat scroll 0 0 #ECFFC3!important;
}


div.news_bar div.content{
    width:auto !important;
    padding: 0px;
}

body.not-front .content_mdl{
    width: 100%;
    background: none;

}
body.front .content_mdl{
    background:none repeat scroll 0 0 #ECFFC3;
    border:1px solid #A3A2A2;
    height:362px;
    margin:0 8px 0 0;
}
body.front #content{
    width:auto;
    margin-right:0px;
    padding:5px;
}

.news_bar{
    background:none repeat scroll 0 0 #ECFFC3;
    border:1px solid #009900;
    line-height:15px;
}
.img_gallery{
    width: auto;
    padding: 0px;
}

.img_gallery img{
    /*    border:2px solid #009900;*/
    padding:2px;
}

.img_gallery ul li {
    margin:0 3px;
}

.batting_bowling table th, .recent_match table th {
    background:none repeat scroll 0 0 #A9C854;
}
#main h2 {
    background-color:#A9C854
}

.ui-corner-all {
    -moz-border-radius:0px ;
}
.ui-widget-content {
    background: none;
    border: none;
}

.ui-widget-header{
    background: none;
    border: none;

}

.ui-corner-top {
    -moz-border-radius-topleft:0px;
    -moz-border-radius-topright:0px;
}

.h3_01  {
    background:none repeat scroll 0 0 #A9C854;
    color:#000;
    padding-left:5px;
    text-align:left;
}
.upcoming_info {

    width:auto;
    border:none;
}

.ui-widget-content {
    border:1px solid #009900 !important;
}
.ui-widget-header {
    border: none!important;
}
tr.even, tr.odd {
    border-bottom:1px solid #009900;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    border:1px solid #009900!important;;
}

.ui-state-hover{
    background-color: #A6C954 !important;
}
tr.even td.sorting_1 {
    background-color:#A6C954 !important;;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected  {
    background-color:#A6C954 !important;
}

.ui-corner-bottom {
    -moz-border-radius-bottomleft:0px!important;
    -moz-border-radius-bottomright:0px!important;
}
div#content-area table a{
    color: #498403 !important;
    font-weight: bold;
}

.player_list dl {
    background:-moz-linear-gradient(center top , #FFF 0%, #ECFFC3 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ECFFC3));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#ECFFC3');
    border: 1px dotted #009900;
    *background-color: #ECFFC3;

}

.player_list dl dd h4 a, .region-right-sidebar table a, .more_link a, .view_link a {
    color:#498403 !important;
    font-weight:bold;
}

.player_list dl dd h4 a:hover, .region-right-sidebar table a:hover, .more_link a:hover, .view_link a:hover {
    text-decoration: underline;
}

tbody th, thead th {
    border-bottom:1px solid #009900;
}
.content_rht, body.front .content_mdl, .content_lft {
    border:1px solid #009900;
}

#main h2 {

    margin:0 0 10px;
    padding:0 0 3px 10px;
}
.player_list dl dd {
    padding: 0px;
}

.player_list dl {
    width:237px;
}

.team-container{
    width: 200px;
    border: 1px dotted green;
}

.team-container li{
    height:30px;
    line-height: 30px;
    padding-left: 5px;
}
.team-container li.odd {
    /* background-color: #EBF5FF;*/
}

.team-container li.even {
    background:-moz-linear-gradient(center top , #C2DE4B 0%, #99B430 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#C2DE4B), to(#99B430));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2DE4B', endColorstr='#000000');
    color: #fff;
}

.team-container li:hover{
    background-color: #59E817
}

.nav ul li.active{
    background: none repeat scroll 0 0 #A6C954;  
}

#logo img{
    height: 110px;
    margin-left: 10px;
    margin-top: 19px;
    width: 220px;;
}
#hdr h1{
    color: GREEN;
}

.team-list{

    float:left;
    margin-right: 5px;
    border: 1px dotted green;

    width: 203px;
}

.team-list li{
    height:30px;
    line-height: 30px;
    padding-left: 5px;


}

.team-list li a, .group-list li a{
    color: #498403 !important;
    font-weight: bold;
}
.team-list li.odd, .group-list li.odd{
    background-color: #ECFFC3;
}
.team-list li.even, .group-list li.even{
    background-color: #FFF;
}
.team-list li:hover, .group-list li:hover{
    background-color:#A6C954;
    cursor: pointer;
    color: #FFF;
}
.player-list-contaner {
    width:750px;
    float: left;
}

li.comment_add{
    display:none !important;
}
.rules li{
    background-color: #ECFFC3;
    color: GREEN;
    list-style: decimal outside none;
    margin-bottom: 20px;
    padding: 10px;
}

.rules{
    padding-left: 30px;
}
.rules li ul li{
    list-style: lower-roman outside none;
}

.inner-ul li{
    margin-bottom: 10px;
}
table.fixtures{
  border: 1px solid GREEN;   
  width: 100%;
}

table.fixtures tr{
  border: 1px solid GREEN;  
  height:30px;
}
table.fixtures th, table.fixtures td{
border-right: 1px solid green;
}

table.fixtures th{
    text-align: center;
    background-color: #A9C854;
}


table.fixtures td{
    text-align: center;
}

table.fixtures tr:hover{
    background-color:#A6C954 !important;
    cursor: pointer;
}

